# Ключ защиты API — должен совпадать с CC_API_KEY в telegram_bot/.env
# Генерация: openssl rand -base64 40
CC_API_KEY=

# Порт FastAPI сервиса
FASTAPI_PORT=

# COM GUID для управления устройством вывода звука
CLSID_POLICY_CONFIG=
IID_IPOLICY_CONFIG=

# ID устройств вывода звука для переключения (через запятую)
# Пример:
# PRIMARY_OUTPUT_DEVICE_IDS={0.0.0.00000000}.{aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa},{0.0.0.00000000}.{bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb}
PRIMARY_OUTPUT_DEVICE_IDS=

# Seq
SEQ_URL=
SEQ_PORT=

# Устройства Tuya (добавляй сколько нужно по аналогии)
DEVICE_1_NAME="Название"
DEVICE_1_TYPE="light"
DEVICE_1_ID=""
DEVICE_1_IP=""
DEVICE_1_KEY=""
DEVICE_1_VERSION="3.4"

DEVICE_2_NAME="Название"
DEVICE_2_TYPE="outlet"
DEVICE_2_ID=""
DEVICE_2_IP=""
DEVICE_2_KEY=""
DEVICE_2_VERSION="3.4"
