# Ключ защиты API — должен совпадать с CC_API_KEY в telegram_bot/.env
# Генерация: openssl rand -base64 40
CC_API_KEY=

# Порт FastAPI сервиса
FASTAPI_PORT=

# Seq
SEQ_URL=
SEQ_PORT=

# Устройства Tuya (добавляй сколько нужно по аналогии)
DEVICE_1_NAME="Название"
DEVICE_1_TYPE="light"
DEVICE_1_ID=""
DEVICE_1_IP=""
DEVICE_1_KEY=""
DEVICE_1_VERSION="3.4"

DEVICE_2_NAME="Название"
DEVICE_2_TYPE="outlet"
DEVICE_2_ID=""
DEVICE_2_IP=""
DEVICE_2_KEY=""
DEVICE_2_VERSION="3.4"
